
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLTELayout/AdminLTELayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                
  
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="TB_University" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
  
<!-- /.content-wrapper -->
@section script {
    <script>
                         $(function () {
                             $("TB_Department").DataTable({
                                 "responsive": true, "lengthChange": false, "autoWidth": false,
                                 "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                             }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                     
                         });
    </script><script src="~/js/departmentjs.js"></script>
}

